html, body{
	margin:0;
	padding:0;
	width:100%;
}
main{
	border:1px solid;
	margin:0 auto;
	width:425px;
}
#word{
	border:1px solid rgba(255,255,255,0.3);
	padding:20px;
}
#letter{
	font-size:2em;
	padding:0px 1px;
	margin-left: 0.6em;
	font-family: 'Open Sans', sans-serif;

	line-height: 2em;
	min-height:2em;
}
#subButt{
	width:100%;
}